@use '@variables' as *;

.button {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  font-size: 1.8rem;
  color: #fff;
  background: $twitter_theme;
  border-radius: 999px;

  @include media(sm) {
    display: inline-flex;
    height: 32px;
    margin-right: 16px;
    margin-bottom: 16px;
    font-size: 1.4rem;
  }
}
