@use '@styles/variables' as *;

.button {
  display: flex;
  align-items: center;
  height: 36px;
  padding: 0 16px;
  color: #fff;
  background: $twitter_theme;
  border-radius: 999px;

  @include dark_mode {
    background: $twitter_theme_dark;
  }

  @include media(sm) {
    display: inline-flex;
    height: 32px;
    margin-right: 16px;
    margin-bottom: 16px;
    font-size: 1.4rem;
  }
}
