@use '@variables' as *;

.grid_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 48px 32px;
  margin-top: 40px;

  @include media(sm) {
    gap: 40px;
  }
}

.list_container {
  margin-top: 40px;
  border-top: 1px solid $border_color;

  @include dark_mode {
    border-top: 1px solid $darkMode_border_color;
  }
}
