@use '@variables' as *;

.grid_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 48px 32px;
  margin-top: 24px;

  @include media(sm) {
    gap: 40px;
    margin-top: 16px;
  }
}
