@use '@variables' as *;

.sandbox_container {
  margin: 40px 0;
  border-top: 1px solid $border_color;

  @include dark_mode {
    border-top: 1px solid $darkMode_border_color;
  }
}

.menu_item {
  display: block;
  width: 100%;
  padding: 20px 0;
  font-size: 2rem;
  border-bottom: 1px solid $border_color;

  @include media(sm) {
    font-size: 1.8rem;
  }

  @include hover {
    color: $main_blue_dark;
  }

  @include dark_mode {
    border-bottom: 1px solid $darkMode_border_color;

    @include hover {
      color: $main_blue_light;
      background: $black;
    }
  }
}
