@use '@variables' as *;

.sandbox_container {
  padding: 40px 0;
}

.menu_item {
  display: block;
  width: 100%;
  padding: 0 0 16px 16px;
  border-bottom: 1px solid $darkMode_border_color;

  @include hover {
    color: $main_blue_dark;

    @include dark_mode {
      color: $main_blue_light;
    }
  }
}
