$main_blue: #17bebb;
$main_red: #e4572e;
$main_yellow: #ffc914;
$main_green: #76b041;
$black: #2e282a;
$white: #efefef;
$gray: #555b6e;
$text_gray: #787878;
$border_color: #ccc;
$link_text: #1d17be;
$placeholder_text_color: rgb(68 68 68 / 0.7);

//breakpoints
$breakpoints: (
  'ssm': 374px,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1239px,
);

@mixin media($size) {
  @media screen and (max-width: #{map-get($breakpoints, $size)}) {
    @content;
  }
}

@mixin media_min($size) {
  @media screen and (min-width: #{map-get($breakpoints, $size)}) {
    @content;
  }
}

@mixin hoverable() {
  @media (hover: hover) {
    @content;
  }
}

@mixin form_reset_common {
  padding: 0.3em 1em;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #444;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  box-shadow: none;

  &:focus {
    border: 1px solid $main_blue;
  }

  &::placeholder {
    color: $placeholder_text_color !important;
  }
}

@mixin button_shadow {
  box-shadow: 0 7px 30px -10px rgb(150 170 180 / 0.5);
}

@mixin hover_color($hover_color) {
  @include hoverable {
    &:hover {
      background: $hover_color;
      transition: 0.25s ease-out background;
    }
  }
}
