.container_inner {
  max-width: 1000px;
  //PageHeaderとPageFooter
  min-height: calc(100vh - 40px - 40px);
  padding: 24px 24px 48px;
  margin: 0 auto;

  @include media(lg) {
    padding: 16px;
  }
}
