@use '@styles/variables' as *;

.container_inner {
  max-width: 1000px;
  //PageHeaderを引く
  min-height: calc(100vh - 40px);
  padding: 72px 24px 48px;
  margin: 0 auto;

  @include media(lg) {
    padding: 64px 16px 40px;
  }
}
