@use '@variables' as *;

.cards {
  padding: 16px;
  border-radius: 8px;

  @include button_shadow;
}

.lists {
  display: block;
  padding: 16px 0;
  border-bottom: 1px solid $border_color;

  @media (hover: hover) {
    &:hover {
      background: rgb(249 249 249);
      background: radial-gradient(circle, rgb(249 249 249 / 1) 0%, rgb(255 255 255 / 1) 100%);
      transition: 0.25s;
    }
  }
}

.image_container {
  position: relative;
  width: 100%;
  height: 200px;
  background: #fff;
}

.text_wrapper {
  margin: 8px 0;
}

.title {
  min-height: 64px;
  margin-bottom: 8px;
  font-size: 2rem;
}

.lists_title {
  margin-bottom: 8px;
  font-size: 2rem;
}

.date {
  margin-right: 12px;
  line-height: 1.8;
  color: $text_gray;
}

.flex {
  display: flex;
}

.lists_flex {
  display: flex;
  margin-top: 8px;
}

.tags_wrapper {
  display: flex;
  gap: 0 8px;
}

.tag {
  padding: 2px 8px;
  font-size: 1.4rem;
  color: #fff;
  color: $black;
  background: $gray;
  background: #ddd;
  border-radius: 4px;
}
