@use '@variables' as *;

.cards {
  padding: 16px;
  border-radius: 8px;

  @include button_shadow;
}

.lists {
  display: block;
  padding: 12px 0;
  border-bottom: 1px solid $border_color;

  @media (hover: hover) {
    &:hover {
      background: rgb(249 249 249);
      background: radial-gradient(circle, rgb(249 249 249 / 1) 0%, rgb(255 255 255 / 1) 100%);
      transition: 0.25s;
    }
  }
}

.image_container {
  position: relative;
  width: 100%;
  height: 160px;
  background: #fff;
}

.image {
  @include media(sm) {
    object-fit: cover !important;
  }
}

.text_wrapper {
  margin: 8px 0;
}

.title {
  min-height: 64px;
  font-size: 2rem;

  @include media(sm) {
    min-height: 0;
  }
}

.lists_title {
  margin-bottom: 8px;
  font-size: 2rem;

  @include media(sm) {
    font-size: 1.8rem;
  }
}

.date {
  display: inline-block;
  margin-bottom: 4px;
  color: $text_gray;
}

.lists_date {
  margin-right: 12px;
  line-height: 1.8;
  color: $text_gray;
}

.lists_flex {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.tags_wrapper {
  display: flex;
  gap: 0 8px;
}

.tag {
  height: 24px;
  padding: 2px 8px;
  font-size: 1.4rem;
  line-height: 1.4;
  color: #fff;
  color: $black;
  background: #e5e5e5;
  border-radius: 4px;
}
