@use '@variables' as *;

.layout_selector {
  position: relative; //shadowをlistの上に乗せる
  display: flex;
  gap: 0 8px;
  align-items: center;
  width: 104px;
  padding: 8px 12px;
  margin-left: auto;
  border-radius: 4px;

  @include button_shadow;

  @include media(md) {
    width: 96px;
    padding: 8px;
    margin-bottom: 16px;
    font-size: 1.4rem;
  }
}

.layout_selector_text {
  flex-shrink: 0;
  font-size: 1.4rem;
  line-height: 1.4;
  color: $gray;

  @include media(lg) {
    font-size: 1.2rem;
    line-height: 1.2;
  }
}

.layout_selector_button {
  margin-top: -6px;
  transition: 0.25s;

  @media (hover: hover) {
    &:hover {
      filter: brightness(90%);
    }
  }
}
