@use '@styles/variables' as *;

.footer {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  height: 40px;
  padding: 0 24px;
  margin: 0 auto;
  color: $gray;
  text-align: center;
  border-top: 1px solid $border_color;

  p {
    margin: 0 auto;
  }

  @include dark_mode {
    color: $darkMode_gray;
    border-top: 1px solid $darkMode_border_color;
  }

  @include media(lg) {
    padding: 0 16px;
  }
}
