@use '@variables' as *;
// markdown.module.scssが優先されるため!importantを使用

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 16px 0;
  color: $black !important;
  text-decoration: none !important;
  border: 1px solid $border_color !important;
  border-radius: 4px;

  @include dark_mode {
    background: $darkMode_black;
    border: 1px solid $darkMode_border_color !important;
  }
}

.text_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: calc(100% - 300px);
  padding: 16px !important;

  @include media(lg) {
    max-width: 60vw;
    padding: 12px !important;
  }

  @include media(sm) {
    max-width: 58vw;
    padding: 12px !important;
  }

  @include media(ssm) {
    max-width: 54vw;
    padding: 12px !important;
  }
}

.title {
  display: box;
  margin-bottom: 4px;
  font-size: 1.8rem;
  font-weight: 700;
  color: $black;

  @include dark_mode {
    color: $white;
  }

  @include lines_text_hidden(2);

  @include media(md) {
    margin-bottom: 4px;
    font-size: 1.6rem;
  }
}

.description {
  margin-bottom: 4px;
  overflow: hidden;
  font-size: 1.4rem;
  line-height: 1.4;
  color: $text_gray;
  text-overflow: ellipsis;
  white-space: nowrap;

  @include dark_mode {
    color: $border_color;
  }

  @include media(sm) {
    font-size: 1.3rem;
  }
}

.href_flex {
  display: flex !important;
  align-items: center;
  margin-top: auto;
}

.favicon {
  width: 16px;
  height: 16px;
  margin: 2px 6px 0 0 !important;
  line-height: 20px;
}

.href {
  overflow: hidden;
  font-size: 1.2rem;
  text-overflow: ellipsis;
  white-space: nowrap;

  @include dark_mode {
    color: $darkMode_gray !important;
  }
}

.image_wrapper {
  display: block;
  max-width: 300px;

  @include media(md) {
    max-width: 240px;
  }

  @include media(sm) {
    max-width: 100%;
  }
}

.image {
  width: 100%;
  max-width: 300px !important;
  height: 100%;
  max-height: 136px !important;
  margin: 0 !important;
  background: $white;
  object-fit: cover;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

  @include dark_mode {
    background: $border_color;
  }

  @include media(lg) {
    max-width: 240px !important;
    height: auto;
  }

  @include media(sm) {
    width: 140px !important;
    height: auto;
  }

  &.no_image {
    object-fit: contain;
    padding: 4px;

    @include media(sm) {
      width: 140px !important;
      height: auto;
    }

    @include media(ssm) {
      width: 112px !important;
      height: auto;
    }
  }
}
