@use '@variables' as *;

.container {
  margin: 72px 0 56px;
}

.back_button {
  display: flex;
  gap: 0 8px;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-decoration: underline;
  cursor: pointer;
}

.icon {
  width: auto;
  height: 20px;
  fill: $black;

  @include dark_mode {
    fill: $white;
  }
}
