@use '@variables' as *;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 64px 0 24px;

  @include media(sm) {
    margin: 48px 0 32px;
  }
}

.back_button {
  display: flex;
  gap: 0 8px;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  cursor: pointer;
}

.icon {
  width: auto;
  height: 20px;
}
